.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 2%;
  height: 2%;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: grey;
  align-items: center;
}



nav>ul {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  color: black;
}

nav>ul>li {
  list-style: none;
  font-size: large;
  color: white;
  cursor: pointer;
}

nav>ul>li:hover {
  transform: 0.5s;
  list-style: none;
  font-size: larger;
  color: black;
  cursor: pointer;
}

.Hero{
  background-color: wheat;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  margin: 0;
}
/* 
.product-card {
  transition: box-shadow .3s;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
} */

.product-card:hover{
  box-shadow:0 0 11px rgba(33,33,33,.2);
}

.prod-img{
  height: 120px;
  width: auto;
}

.product{
  list-style: none;
  transition: box-shadow .3s;
  width: 500px;
  height: 300px;
  margin: 10px;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
}

.product:hover{
  box-shadow:0 0 11px rgba(33,33,33,.2);
}

.products-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}